
{% extends 'shop/base.html' %}
{%  block title %} Cart View {% endblock %}
{% block style %}
<style>
.container {
  padding: 2rem 0rem;
}
.pic {

  height: 100px;
  width: 80px;

}

.table-image {

  

  thead {
    td, th {border: 0; color: #666; font-size: 0.8rem;}
  }

  td, th {
    vertical-align: middle;
    text-align: center;

    &.qty {
      max-width: 2rem;
    }
  }
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}
</style>
{% endblock %}
{% block content %}
{% load tag_library %}
{% load static %}
<div class="container">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cartModal">
    View
  </button>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
          Your Shopping Cart
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-image">
          
          <thead>

            <tr>
              <th scope="col"></th>
              <th scope="col">Prodcuts</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Total</th>
            </tr>

          </thead>
         
          {% for item,value in allprods.items|slice:"0:" %}
          <tbody>
            <tr>
              
              <td class="w-25">
                <img src="/media/{{item.0.image}}" class="img-fluid img-thumbnail pic"  alt="Sheep">
              </td>
              <td>{{item.0.product_name}}</td>
              <td>{{item.0.price}}</td>
              <td class="qty">{{value}}</td>

              <td>{{ item.0.price | to_int:value }} </td>
              
              <td>{{sum}}</td>
            
            </tr>

          </tbody>
          
          {% endfor %}
        </table>
        <div class="d-flex justify-content-end">
          <h5>Total: <span class="price text-success">{{TotalSum}}</span></h5>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>

$(document).ready(function() {
  $('#cartModal').modal('show');

  
  
});

 
</script>
{% endblock %}