{% extends 'shop/base.html' %} {% block style %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .col-md-3 img {
    width: 200px;
    height: 150px;
  }

  body .carousel-indicator li {
    background-color: blue;
  }

  body .carousel-indicators {
    bottom: 0;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: red;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: auto;
    padding-top: 150px;
  }
</style>
{% endblock %} {% block content %} {% load static %}

<!--Slideshow starts here -->
{% for product, range, nslides in allprods %}
<h1>{{product.0.category}}</h1>
<div class="row">
  <div
    id="demo{{forloop.counter}}"
    class="col carousel slide my-3"
    data-ride="carousel"
  >
    <ul class="carousel-indicators">
      <!--        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>-->
      {% for i in range %}

      <li
        data-target="#demo{{forloop.parentloop.counter}}"
        data-slide-to="{{i}}"
      ></li>

      {% endfor %}
    </ul>

    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        {% for i in product|slice:"0:" %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src="/media/{{i.image}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.description|slice:"0:25"}}...</p>
              <span id="sppr{{i.id}}" class="spanpr">
                <button id="pr{{i.id}}" class="btn btn-primary cart">
                  ADD TO CART
                </button>
              </span>
              <a href="/shop/product/{{i.id}}"
                ><button id="qv{{i.id}}" class="btn btn-primary cart">
                  QUICK VIEW
                </button></a
              >
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

  <!-- left and right controls for the slide -->
  <a
    class="carousel-control-prev"
    href="#demo{{forloop.counter}}"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#demo{{forloop.counter}}"
    data-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
{% endfor %} {% endblock %}
{% block js %} 
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script>
    
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    }
    else {

      cart = JSON.parse(localStorage.getItem('cart'));

      updateCart(cart);

    }
    $('.spanpr').on('click','button.cart',function(){
      console.log('Clicked');
      var idstr = this.id.toString()

      if (cart[idstr] == undefined) {
        cart[idstr] = 1;
      }
      else {
        cart[idstr] += 1;

      }
        updateCart(cart);

        //
      
    });
    $('#popcart').popover();
    UpdatePopover(cart);
    // ADD pop over to cart
   
    function UpdatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    
    var i = 1;
    for (var item in cart) {
      if (cart[item] > 0) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item] + '<br>';
        i = i + 1;
      }
    }
    console.log(cart);
     popStr = popStr + "<a href='/shop/cartView?cart="+JSON.stringify(cart)+"'  class='btn btn-success'>Checkout{{cart}} </a> <span class='clearData'><a class='btn btn-primary '>Click Me!</a></span>";
    //console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    
    $('#popcart').popover('show');
};

    $('.clearData').click(function(){
      console.log('Inside');
      clearCart();
    });

    function clearCart(){
     
      cart = JSON.parse(localStorage.getItem('cart'));
      console.log(cart);
      for (var item in cart) {
        
        document.getElementById('sp' + item).innerHTML = "<button type='button' id='"+item+"' class='btn btn-primary cart'> ADD TO CART </button>";
        localStorage.clear();
        cart = {};
        console.log("I M Here")
        
    }updateCart(cart);};

    function updateCart(cart) {
      var count = 0;
      for (var item in cart) {

        document.getElementById('sp' + item).innerHTML = "<button  class='btn btn-primary minus' id = 'minus" + item + "'> - </button> <span id = 'val" + item + "''> " + cart[item] + " </span><button class='btn btn-primary plus' id = 'plus" + item + "'> +  </button> "
        count = count + cart[item];
      }
        document.getElementById('cart').innerHTML = count
        localStorage.setItem('cart', JSON.stringify(cart));
        UpdatePopover(cart);
        
         
      
    };
    $(".spanpr").on('click', 'button.minus', function () {

      a = this.id.slice(5,);
      cart[a] = cart[a] - 1;
      cart[a] = Math.max(0, cart[a]);
      document.getElementById('val' + a).innerHTML = cart[a]
      
      updateCart(cart);
      

    });
    $(".spanpr").on('click', 'button.plus', function () {
      console.log("PLUS CLICKED");
      a = this.id.slice(4,);
      cart[a] = cart[a] + 1;
      console.log(cart[a]);

      document.getElementById('val' + a).innerHTML = cart[a];
      updateCart(cart);

    });

  </script>
{% endblock %}
